<h1>Insurance demo</h1>

<% if flash[:error_message] %>
<span class="message-block error">An error occured: <%= flash[:error_message] %></span>
<% end %>

<% if flash[:info] %>
<span class="message-block info"><%= flash[:info] %></span>
<% end %>

<% if @mobile_app %>
<h2>Mobile app details</h2>
<p>The mobile app is <strong>registered</strong> on your FollowAnalytics account.<br/>To connect the iOS demo app to FollowAnalytics,
  don't forget to copy the <em>package_name</em> below and use it as the bundle ID of your app in XCode.</p>

  <p>Please refer to <a href="https://followanalytics.github.io/fa-demo-heroku-insurance/">the demo app project page on github</a> for more details.</p>
<table>
  <tr>
    <td>App name</td>
    <td><%= @mobile_app['localizations'].first['name'] %></td>
  </tr>
  <tr>
    <td>Package name</td>
    <td><%= @mobile_app['package_name'] %></td>
  </tr>
  <tr>
    <td>API key</td>
    <td><%= @api_key['api_key'] %>
      <% if @api_key['revoked'] %>
        <strong>(revoked)</strong>
      <% end %>
    </td>
  </tr>
</table>
<% else %>
<h2>Mobile app configuration</h2>
<p>The mobile app doesn't seem to be registered on your FollowAnalytics account. To get started, create it.</p>

<%= form_tag do %>
  <input type="submit" value="Create app now" class="create-btn" />
<% end %>
<% end %>

<h2>Send a push message</h2>
<p><em>This section illustrates how you can use the FollowAnalytics plugin on Heroku to list users and send them push messages.</em></p>
<% if @certificate %>
<p>You have a push certificate on your app. It expires on <%= DateTime.parse(@certificate['not_after']).strftime("%B %d, %Y") %>. 
<a href="/push/reset_certificate?app_identifier=<%= @mobile_app['identifier'] %>&cert_identifier=<%= @certificate['identifier'] %>">Reset certificate</a></p>

  <%= form_tag('push/send', method: 'post') do %>
  <table>
    <thead>
      <tr><td>select</td><td>user identifier</td></tr>
    </thead>
    <tbody>
      <% @profiles.each do |profile| %>
        <tr><td><input type="checkbox" name="customer_ids[]" value="<%= profile['customer_id'] %>" /></td><td><%= profile['customer_id'] %></td>
      <% end %>
    </tbody>
  </table>

  <p><input type="text" maxlength="50" size="60" placeholder="Type your push message here" name="message" /></p>
  <input type="hidden" name="app_identifier" value="<%= @mobile_app['identifier'] %>"/>
  <input type="submit" value="Send your push message" class="send-btn" />
  <% end %>
<% elsif @mobile_app %>
  <p>You don't have any push certificate configured on your app.</p>
  <p>Please open your <em>pem</em> file with a text editor and copy the certificate and private parts in the fields below.</p>
  <p><em>To generate your push certificate, please follow the <a href="http://dev.followanalytics.com/faq/#how-to-configure-my-ios-app-for-push-notifications">procedure described in our developer portal</a></em></p>

  <%= form_tag('/push/certificate', method: 'post') do %>
  <p><textarea name="cert" placeholder="Copy your certificate here
    -----BEGIN CERTIFICATE-----
    ...
    -----END CERTIFICATE-----"></textarea></p>
  <p><textarea  name="pkey" placeholder="Copy your private key here
    -----BEGIN RSA PRIVATE KEY-----
    ...
    -----END RSA PRIVATE KEY-----"></textarea></p>
    <input type="hidden" name="app_identifier" value="<%= @mobile_app['identifier'] %>"/>
  <p><input type="submit" value="Save your push certificate" class="save-btn" /></p>
  <% end %>
<% else %>
<p>Create your app before managing push messages</p>
<% end %>

